*{
    margin: 0;
    padding:0;
    font-family: century gothic;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(to bottom right,rgb(0,0,0,0.6),rgb(0,0,0,0.6)) ,url("images/st.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:  no-repeat;
    height: 100vh;

}

.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.box1{
    height:420px;
    width:380px;
    background-color:white;
    margin-left:38%;
    color:white;
    padding:0px;
    position:absolute;
    margin-top:10%;
    overflow: hidden;
    border-radius: 20px;
    

}

.input-field{
    width: 80%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    color:black;
    font-size: 15px; 
}

form .login{
    margin:  80px;

}

input{
    height:30px;
    width:30%;
}

.btn-info{
        color: #fff;
        background-color: #ffc107;
        border-color: #80b817;
    }

p{
    padding-left:30px;   
}

a{
    text-decoration: none;
    font-size:15px;
    padding:0px;
}

h1{
 font-size: medium;
 color:black;
 position:absolute;
 overflow:hidden;
 padding-left:30%;
 text-transform: uppercase;
 margin-top:10%;
 
}